body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h1,h2{
    
    text-align: left;
    margin-left: 16%;
}
.main{
    margin: 2% auto;
    width: 30%;
    background-color: rgb(103, 245, 162);
    border: 3px solid rgb(46, 142, 68);
}
.taskData{
    font-size: 1.19rem;
    width: 60%;
    font-family: 'Dancing Script', cursive;
}
#btnSubmit{
    background: none;
    border: none;
     padding: 0;
    cursor: pointer;
}

.task{
    text-align: left;
    margin: 1% 15%;
    background-color: rgb(132, 240, 177) ;
    border: 2px solid rgb(46, 142, 68);
}

.editBtn{
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0% 2px 1% 45%;
}
.deleteBtn{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0% 35% 1% 2px;
}
.taskPara{
    padding: 0px 0px 0px 5px ;
}
ul li span {
    margin-left: 5%;
    font-size: 1.2rem;
    cursor: pointer;
}
ul li span :hover {
    background-color: rgb(214, 204, 204);
}